# travis
language: python
python:
  - "3.4"
# command to install dependencies
install:
  - pip install -r requirements.txt
# command to run tests
script:
  - python crawler/JJDecoder.py
# Codecov staff
before_install:
  - pip install codecov
  - pip install tox
after_success:
  - tox -e coverage-report
  - codecov